body {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans Typewriter';

}

.calculator {
    min-width: 320px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 50vh;
    width: 25vw;
    border: 1px solid black;
}

.calculator > * {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 24px;
}

.calculator > * > * {
    flex: 1;
    min-width: 0;
}

.grow-2 {
    flex-grow: 2.5;
}






button {
    font: inherit;
    font-size:  18px;
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid black;
    color: black;
    
    box-shadow: 0px 5px 15px rgba(145, 92, 182, .4);   
}

button:hover {
    background-color: rgb(241, 238, 238);
}

button:active {
    background-color: black;
    color: white;
}






.display-box {
    border-radius: 8px;
    border: 0.5px solid black;

    text-overflow:ellipsis;
    
    padding: 8px;
    border-radius: 10px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 300;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0,0,0,1);
    caret-color: transparent;

    box-shadow: 0px 5px 15px rgba(145, 92, 182, .4);

}
*::selection {
background:rgb(255, 255, 255);
}




h1 {
    font-weight: 400;
    font-size: 56px;
    margin: 0;
}

button, h1 {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


.middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-grow: 1;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    width: 95vw;
    min-width: 300px;
}
a {
    text-decoration: none;
    color: black;
}
a[href]:active {
    color: red;
}

.recolor {
    background-color:rgb(255, 255, 255);
    
}
.recolor:hover {
    background-color:rgb(210, 197, 240);

}
.recolor:active {
    background-color: black;
    color: white;
}